
sentence{
    background-color: lightGrey;
    display:block; 
    margin-bottom:2px;
}

.toggle{
	/*float:right;
	position: fixed;*/
/* 	right: 14; */
/* 	top: 40; */
/* 	z-index: 10; */
/* 	*/
	height:9px;
	width:9px;  
	background:url("images/collapsed.png");
    background-repeat:no-repeat;
	cursor:pointer;
}
.toggle.expanded{
	background:url("images/expanded.png");
}
